.newChannelBtn {
    display: flex; 
    align-items: baseline; 
    width: 100%;
    justify-content: space-between;
}

.channel-item:hover {
    cursor: pointer;
}

.channel-item-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.landing-page {
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
}

.focusedChannelMessages {
    display: none;
}

.channel-name {
    font-size: 2rem;
    margin-bottom: 0px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    padding: 0;
    width: auto;
}

.channel-page-header {
    height: 60px;
}

.channel-page-header h1 {
    font-size: 2.5rem;
}

.change-channel-des {
    border: none;
    appearance: none;
    outline: none;
    font-size: 1rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    padding: 0;
    width: auto;
}
.channel-details-header {
    width: 100%;
}

.channel-details-header h1 {
    font-size: 2rem;
}

.channels-list {
    overflow-y: scroll;
    max-height: 60vh;
}

.channels-list::-webkit-scrollbar {
    width: 10px;
}

.channels-list::-webkit-scrollbar-thumb {
    background-color: #0A141F;
    border-radius: 30px;
    border: 3px solid #ffffff;
}

.channel-header {
    width: 100%;
}