.main-page-desktop {
    padding: 25px;
}

.main-page-mobile {
    overflow: hidden;
    padding: 5px;
}

.mobile-header-buttons {
    height: 40px;
    font-size: 15pt;
    width: auto;
}

.mobile-header-buttons h1 {
    font-size: 1rem;
}

.channel-name-mobile {
    height: auto;
    font-size: 1.5rem;
    color: #0A141F;
}

.channel-name-mobile:hover {
    font-weight: bold;
    color: #0A141F;
}